import { NgModule } from '@angular/core';
import { RouterModule } from '@angular/router';

const routes = NamedRoutes.provideRoutes([
  // Define routes here
]);

@NgModule({
  imports: [ RouterModule.forChild(routes) ],
  exports: [ RouterModule ]
})
export class TestRoutingModule {}
